body{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

main{
   background-color: gainsboro;
   padding: 2rem;
   border-radius: 1rem;
   text-align: left;
}

h1{
   text-align: center;
}